@model ArticleItem
@{
    ViewData["Title"] = "ShowArctcle";
}


<h1>@Html.Raw(Model.Title)</h1>
<h3>@Html.Raw(Model.Subtitle)</h3>
<img src="@Model.TitleImagePath" alt="pic" />
<p>@Html.Raw(Model.FullText)</p>