          <!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="https://vk.com/id38713125" class="icon brands fa-vk"><span class="label">VK</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="mailto:Alexjjgugl21@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="tel:+79101216244" class="icon solid fa-phone"><span class="label">+7 910 121 62 44</span></a></li>
    </ul>
    <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
</section>