@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager

<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="#">
                    <h3>Lorem ipsum</h3>
                    <p>Feugiat tempus veroeros dolor</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Dolor sit amet</h3>
                    <p>Sed vitae justo condimentum</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Feugiat veroeros</h3>
                    <p>Phasellus sed ultricies mi congue</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Etiam sed consequat</h3>
                    <p>Porta lectus amet ultricies</p>
                </a>
            </li>
        </ul>
    </section>

    <!-- Actions -->
    <section>

        @if (_signInManager.IsSignedIn(User))
        {
        <ul class="actions stacked">
            <li class="button large fit lbnHello">Hello! @User.Identity.Name</li>
            <li><a id="registerLink" class="button large fit" asp-controller="Account" asp-action="Logout">Log off</a></li>
        </ul>
        }
        else
        {
            <ul class="actions stacked">
                <li><a href="account/login" class="button large fit">Log In</a></li>
            </ul>
        }


    </section>

</section>